<div>
  <h1>Live Players</h1>
  <p>Edicion de Jugadores</p>
</div>

<div class="container p-4 bg-success" style="text-align: center; max-width: 600px; border: 1px solid white;border-radius: 20px;">
  <p><strong>LLena y Suscribe el formulario para crear un nuevo Jugador</strong></p>

  <form method="POST" action="/jugador/store" enctype="multipart/form-data">
    <%= token_tag %>

    <div class="form-group my-4">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" class="form-control" />
    </div>
    <div class="form-group my-4">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" />
    </div>
    <div class="form-group my-4">
      <label for="total_billetera">Dinero en Billetera</label>
      <input type="text" name="total_billetera" class="form-control" />
    </div>
    <div class="from-group">
      <div><input type="submit" value="Crear Nuevo Jugador" class="btn btn-danger"/></div>
    </div>
  </form>
</div>
