<% if notice %>
  <p id="notice" class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </p>
<% end %>


<h1>Editar Jugador</h1>
<%= render 'form' %>