body {
  background: black;
  color: white;
}

nav {
  height: 80px;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
  background-image: url("https://media.istockphoto.com/photos/roulette-picture-id1266741275?k=20&m=1266741275&s=612x612&w=0&h=63zNalWSwL3fvBqgxiJ8JjdY3Aw2TOD-VivqRexx7mU=");
  z-index: -1000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.content_box {
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  max-width: 1200px;
}
