body {
  background: black;
  color: white;
}

nav {
  height: 80px;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
  background-image: url("background_01.jpg");
  z-index: -1000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.content_box {
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.7);
  max-width: 1200px;
}

.results_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: 'red' !important;
  height: 350px;
}

.results_box .left_box {
  height: 100%;
  width: 35%;
}

.results_box .left_box td {
  padding: 0 !important;
  border: none;
}

.results_box .center_box {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results_box .center_box img {
  width: 100%;
}

.results_box .right_box {
  height: 100%;
  width: 35%;
}