<nav
  class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark"
  style="z-index: 1000 !important;"
>
  <div class="container bg-dark">
    <a href="/" style="text-decoration:none;display:flex;color:red;"><img src="https://images.vexels.com/media/users/3/151205/isolated/preview/8857efb275fbf2435db40a222d05b1e6-roulette-wheel-icon.png" alt="" style="height:60px;margin-right:20px;"><h1 style="margin: auto;">Casino</h1> </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <%= link_to "Ruleta", root_path, :class => "nav-link active" %>          
        </li>
        <li class="nav-item">
          <%= link_to "Crear Jugador", new_jugador_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Apuestas Anteriores", previousrounds_path, :class => "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>