<div  class="container my-4 content_box hide-small"
        style="">
    <h5 style="margin-top: 20px;">Pronostico del Clima próximos 8 días</h5>
      <div id="weather_section" class="row row-cols-7 row-cols-md-7  g-1 p-2">
        <% @seven_days_weather.each do |dia| %>
          <div class="col">
            <div class="card p-1" style="width: 7rem; color:white; background:black; border: 1px solid white; ">
              <div class="card-content">
                <img src="<%= dia[:icon_img] %>" alt="icon" style="width: 50px;">
                <p>Min: <%= dia[:min] %>º</p>
                <p>Max: <%= dia[:max] %>º</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
</div>